    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>

<p> Washington State University Buildings and Landscapes documents WSU’s history of over 125 years as a land grant institution through hundreds of photographs, maps, documents, oral histories, and artwork on the Pullman campus. Most of the images and metadata derive from the holdings of the <a href="http://www.wsulibs.wsu.edu/masc" class="btn btn-default">Manuscripts, Archives, and Special Collections</a> (MASC) in Washington State University's Terrell Library. The buildings and landscapes included here are perhaps the most widely known, but there are several barns, sheds, and other buildings that we hope to add over time.
</p>
<p> <b> Native American, Indigenous, and First Nations Communities </b>
<p> The Washington State University Pullman Campus is located on the ceded lands of the Nez Perce Tribe and the traditional homeland of the Palus Band of Indians. We acknowledge their presence here since time immemorial and recognize their continuing connection to the land, to the water, and to their ancestors.
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a href="#download" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </section>
