    <!-- Contribute Section -->
    <section id="contribute" class="content-section text-center">
        <div class="contribute-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contribute</h2>
                    
<p> If you would like to contribute an image to the website, then please follow instructions here.
<p>     

                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="#contact" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
            </div>
        </div>
    </section>
