    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Help</h2>


                <p> For help on using the website, please see <a href="http://cdsc.libraries.wsu.edu/scalar/wsu-buildings-landscapes/how-to-use-this-site" class="btn btn-default">How to Use This Site</a>.
                <p><h3>Questions or Comments</h3>
                <p> For general questions or comments, please contact Mark O'English at Washington State University: <a href="mailto:markoe@wsu.edu">markoe@wsu.edu</a>. For technical issues with this site, please contact Andrew Gillreath-Brown at Washington State University: <a href="mailto:andrew.d.brown@wsu.edu">andrew.d.brown@wsu.edu</a>.
                    
                <ul class="list-inline banner-social-buttons">

                    <li>
                        <a href="http://cdsc.libraries.wsu.edu/scalar/wsu-buildings-landscapes/" class="btn btn-default btn-lg"><span class="network-name">WSU Buildings and Landscapes Website</span></a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a href="#page-top" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-up animated"></i>
                </a>
            </div>
        </div>
    </section>
