    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Techinical Requirements</h2>
                    
<p> The website works with any current browser (e.g., Chrome, Firefox, Safari, Edge). However, the website will not work with older or deprecated browsers (i.e., Internet Explorer). Microsoft only provides security updates for IE. We have no way to reconcile the issue. Please use a current browser. 
<p> Depending on internet connection and speed, some pages may take a while to load. The website contains a large amount of images and media, which causes some pages to load slowly. Thank you for your patience.
<p>     

                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="#contact" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
            </div>
        </div>
    </section>
